* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  object-fit: contain;
}

.app__headerImage {
  height: 50%;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

Input {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid lightgray
}