* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  position: sticky;
  object-fit: contain;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

Input {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid lightgray
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}