.imageupload {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px 10px;
    background-color: #fff;
    border: 1px solid lightgrey;
}

.imageupload__progress {
    width: calc(100% - 10px);
    margin: auto;
}